@import url('https://fonts.googleapis.com/css2?family=Poppins:ital,wght@0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,500&family=Roboto&display=swap');

*{
  margin: 0%;
  padding: 0%;
  box-sizing: border-box;
}

body{
  font-family: "Roboto";
}

a{
  text-decoration: none;
  color: inherit;
}

.image-pdt:hover{
transform: scale(1.1)rotate(5deg);
transition: transform 0.2s ease-in-out;
}

input::-webkit-outer-spin-button,
input::-webkit-inner-spin-button {
   -webkit-appearance: none;
}

@keyframes jiggle {
  0% {
    transform: translateX(0);
  }
  25% {
    transform: translateX(-5px);
  }
  50% {
    transform: translateX(5px);
  }
  75% {
    transform: translateX(-5px);
  }
  100% {
    transform: translateX(0);
  }
}

.jiggle {
  animation: jiggle 0.5s ease infinite;
  transform-origin: center;
}
